In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

In [2]:
df = pd.read_csv('Social_Network_Ads.csv')

In [3]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
df.drop(columns=['User ID'],inplace=True)
df

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [5]:
df.isnull().sum()

Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [6]:
df.describe()

              Age  EstimatedSalary   Purchased
count  400.000000       400.000000  400.000000
mean    37.655000     69742.500000    0.357500
std     10.482877     34096.960282    0.479864
min     18.000000     15000.000000    0.000000
25%     29.750000     43000.000000    0.000000
50%     37.000000     70000.000000    0.000000
75%     46.000000     88000.000000    1.000000
max     60.000000    150000.000000    1.000000

In [7]:
X = df[['Age','EstimatedSalary']]
y = df['Purchased']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=30)

In [9]:
scaler = StandardScaler()
X_Scaler_train = scaler.fit_transform(X_train)
X_Scaler_test = scaler.transform(X_test)

In [10]:
knn_model = KNeighborsClassifier(n_neighbors=4)
knn_model.fit(X_Scaler_train, y_train)

KNeighborsClassifier(n_neighbors=4)

In [11]:
knn_prediction = knn_model.predict(X_Scaler_test)

In [12]:
Confusion_matrix  = confusion_matrix(y_test, knn_prediction)

In [13]:
print("Confusion Matrix:")
print(Confusion_matrix)

Confusion Matrix:
[[49  0]
 [ 8 23]]

In [14]:
accuracy = accuracy_score(y_test, knn_prediction)
print("Accuracy:", accuracy)

Accuracy: 0.9

In [15]:
error_rate = 1 - accuracy
print("Error Rate:", error_rate)

Error Rate: 0.09999999999999998

In [16]:
precision = precision_score(y_test, knn_prediction)
print("Precision:", precision)

Precision: 1.0

In [17]:
recall = recall_score(y_test, knn_prediction)
print("Recall:", recall)

Recall: 0.7419354838709677

In [18]:
f1 = f1_score(y_test, knn_prediction)
print("F1 Score:", f1)

F1 Score: 0.8518518518518519